@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  -webkit-animation: spin 1.25s linear infinite;
  animation: spin 1.25s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.complex-grid {
  display: grid;
  gap: 10px;
  z-index: 5;
}

@media (max-width: 720px) {
  .complex-grid {
    grid-template-areas:
      "left"
      "right";
    margin-top: 0px;
  }
}

@media (min-width: 721px) {
  .complex-grid {
    display: flex;
    max-width: 1000px;
    justify-content: center;
  }

  .complex-grid-left-sticky {
    width: 200px;
    position: sticky;
    top: 64px;
  }
}

.mobile-sidebar-darken {
  z-index: 800;
  background: rgba(0, 0, 0, 0.6666666667);
}

@media (min-width: 540px) {
  .mobile-sidebar-toggle {
    display: none;
  }
  .mobile-sidebar {
    display: none;
  }
  .mobile-sidebar-darken {
    display: none;
  }
}
.mobile-sidebar {
  width: 250px;
  height: 100%;
  left: -300px;
  z-index: 900;
  transition: left 0.25s ease-in-out;
}
.mobile-sidebar.active {
  left: 0 !important;
}

.layout {
  display: grid;
  grid-template-areas: "topbar topbar" "sidebar content";
  grid-template-columns: 175px 1fr;
}

@media (max-width: 540px) {
  .sidebar {
    display: none;
  }
  .layout {
    grid-template-areas: "topbar" "content";
    grid-template-columns: 1fr;
  }
}
.topbar {
  grid-area: topbar;
  height: 54px;
  z-index: 100;
}

.sidebar {
  grid-area: sidebar;
}
.sidebar .inner {
  top: 54px;
  height: calc(100vh - 54px);
}

.content {
  grid-area: content;
  padding-top: 54px;
}
